body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER  */
.sony-logo{
    background-color: black;
    height: 30px;
    text-align: right;
    padding-right: 15px;
}

.sony-logo img{
    width: 90px;
}

.my_btn{
    border-radius: 25px;
    color: white;
}

.header-playstaion-nav a{
    position: relative;
    white-space: nowrap;
}

.my_caron::after{
    content: "\030C";
    font-size: 1.5em;
    color: rgb(41, 41, 41);
    position: absolute;
    top: 30%;
    right: 0;
}

/* MAIN */
.jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron .row{
    height: calc(100vh - 78px - 30px);
}

.inner-jumbo-text{
    color: white;
}

.inner-jumbo-text img{
    width: 250px;
    margin-bottom: 30px;
}

#my_login-btn{
    background-color: #363636;
    border-color: #363636;
}

#lens-dim{
    width: 30px;
}

#my_buy-btn{
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

