body{
    font-family: Arial, Helvetica, sans-serif;
}

.sony-logo{
    background-color: black;
    height: 30px;
}

.sony-logo img{
    width: 90px;
}

.my_btn{
    border-radius: 25px;
}

.header-playstaion-nav a{
    position: relative;
}

.my_caron::after{
    content: "\030C";
    font-size: 1.5em;
    color: rgb(41, 41, 41);
    position: absolute;
    top: 30%;
    right: 0;
}

#my_login-btn{
    color: white;
    background-color: rgb(41, 41, 41);
    border-color: rgb(41, 41, 41);
}

#lens-dim{
    width: 30px;
}