body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER  */
.sony-logo{
    background-color: black;
    height: 30px;
    text-align: right;
    padding-right: 15px;
}

.sony-logo img{
    width: 90px;
}

.my_btn{
    border-radius: 25px;
    color: white;
}

.header-playstaion-nav a{
    position: relative;
    white-space: nowrap;
}

.navbar-nav:hover a{
    color: #0070d1;
}

.my_caron::after{
    content: "\030C";
    font-size: 1.5em;
    color: rgb(41, 41, 41);
    position: absolute;
    top: 30%;
    right: 0;
}

/* MAIN */
.jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.jumbotron .row{
    height: calc(100vh - 78px - 30px);
}

.inner-jumbo-text{
    color: white;
}

.inner-jumbo-text img{
    width: 250px;
    margin-bottom: 30px;
}

.my_buy-btn{
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

.game-logo img{
    max-width: 100%;
    border-radius: 15px;
    border: 3px solid transparent;
    padding: 3px;
}

.game-logo img:hover{
    border: 3px solid #0072ce;
    cursor: pointer;
}

.ps5-text h5{
    color: #66aae1;
}

.ps5-console-image img{
    max-width: 100%;
}

.thumb-device div{
    border-bottom: 3px solid transparent;
}

.thumb-device img{
    max-width: 100%;
    padding-bottom: 5px;
    filter: opacity(40%);
}

.thumb-device div:hover{
    cursor: pointer;
    border-bottom: 3px solid #4095da;
}

.thumb-device div:hover img{
    filter: opacity(100%);
}

.take-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.take-two .row{
    height: calc(100vh);
}

.inner-take-two-text{
    color: white;
}

.inner-take-two-text img{
    width: 250px;
    margin-bottom: 30px;
}

.nuove-uscite{
    padding: 25px;
    background-color: #1f1f1f;
    color: white;
}

/* ID  */

#my_login-btn{
    background-color: #363636;
    border-color: #363636;
}

#my_login-btn:hover{
    background-color: #1a1919;
    border-color: #1a1919;
}

#lens-dim{
    width: 30px;
}

#my_more-info-btn{
    background-color: #2d64e6;
    border-color: #2d64e6;
}

#my_more-info-btn:hover{
    background-color: #1a42a1;
    border-color: #1a42a1;
}

